//colors
$color-main: #4bc0d1;
$color-header: #dd63ac;
$color-accordion-background: #e6e6e6;
$color-accordion-background2: #e3e3e3;
$color-background2: #f4f4f4;
$color-black: #000;
$color-closebutton: #c72731;
$color-headlines-textlinks:#575656;
$color-fliestext: #363636;
$color-fliestext-teaser: #797979;
$color-white: #fff;
$color-123-red: #BD1723;
$color-123-yellow: #FFBD4C;
$color-123-blue: #3367B2;
$screen-xs: 460px;
$screen-sm: 600px;
$screen-md: 1000px;
$screen-lg: 1200px;
$nav-height: 60px;
// fonts
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Cookie');

// fonts-slider
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster+Two|Pacifico|Satisfy');

// $font-header: 'beyond-wonderland';
$font-header: 'Great Vibes';
$font-nav: 'Work Sans';
$font-default: sans-serif;
$font-main: 'Work Sans';
$font-headlines: 'Great Vibes';
